/*
.Couleurs{


border: 1px solid #dee2e6;
background-color: #704608;


color:#70542A;
color:hsl(199, 93%, 42%);
color: #402F00;
color: #495057;
}
.fond-clair{
    background-color: #F2B035;
    
    #F2B035

}
 
.fond-fonce{
    background-color:  #1E0700;
}



*/
html, body{
    padding: 0%;
    margin: 0%;
    min-height:100%;

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    background-color: #a4b998; 
    width : 100%;
    overflow-x: hidden;
    
}
body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
     
}

@keyframes zoom{
    from {
        transform : rotateY(0deg);
        
        /* height: 60%;
        width: 60%; */
    }
    to{
        transform : rotateY(180deg);
        /* height: 40%;
        width: 40%; */
    }
}

.attache{
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;

    /* font-family: 'Satisfy', cursive; */
}

.fond_clair{ /*ancien .couleur*/
    background-color: #a4b998;
}
.fond_fonce{
    background-color: #2e2e2e;
}
.ecriture_claire{
    color : #a4b998;
}
.ecriture_fonce, header, footer{
    color: #2e2e2e;
}


ul, ol{
    padding: 0%;
    margin: 0%;
}
/* --------------- intro*/

.intro{
   
    width : 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
    color :#2e2e2e;
    padding: 0;
    margin: 0;
}

.intro>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;

    padding: 0;
    margin: 5% 0 5% 0;
    align-content: center;
}

.intro>div>div{
    height: 20vh ;
}

.intro>div>p{
    font-weight: bold;
    font-size: 2rem;
    padding-top: 5%;
    margin: 0;
}

.index-ans {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    position : relative;
    top : -10rem;
    margin :0;
    color:#BF8C00;
    z-index: 0;

    padding: 0;
    margin: 0;
}

.age{
    font-size: 10vw;
    margin: 0;
}


/*.carte{

    padding:1rem;
    margin: 0% 20% 0% 20%;
    padding-top: 5%;

}*/
h2{
    padding: 0%;
    margin: 0%;
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;

}
a{
    color:hsl(199, 93%, 42%);
    text-decoration: none;
}
.btn, .btn-index{
    font-size: inherit;
    margin : 1rem 0rem 1rem 0rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 5px 5px;
    
    border: none;
    text-align: center;
}
.btn-index{
    margin : 1rem;
}

table {
    width: 100%;
    margin-bottom: 1rem;

}

.table td{
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}
table{
    border-collapse: collapse;
}

/*
h3{
    font-size : 1rem;
}
*/
/*------------------------ header ---------------*/
nav{
    padding:0%;
    position: fixed;
    top : 0;
    width: 100vw;
}
.container{
    display: flex;
}

header{
    z-index: 100;
}
.logo{
    flex : 1;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 1.5rem;
    color:#2e2e2e;
}

.childTwo{
    flex : 6;
    display: flex;
    align-items: center;
}
.child-three{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.btn-login{
    width : 1.5rem;
}
.nom-login{
    margin: 0;
    padding: 1%;
    display: flex;
    flex-direction: column;
}
.nom-login>p{
    margin: 0;
    padding:0;
    color: #2e2e2e;
    font-weight: bold;
    font-size: smaller;
}

nav>ul>li{
    list-style: none;
    margin : 2%;
}
nav>ul>li>a{
    color:#2e2e2e;
    text-decoration: none;
}
h1{
    text-align:center;
    margin: 8rem 20% 0% 20%;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;

}
/* ----------------*/

form{
    padding:0% 30% 0% 30%;
}
.champ{
    display: block;
    width: 95%;
    height: calc(1.5rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.compteur{
    width:13%; 
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-top: 2%;
    border-radius: 0.5rem;
}

.btn-container{
    justify-content:space-around;
    padding-top:5%;
}

/*
.carte>ul{
    padding-left:2rem ;
}*/
.tel, .telephone{
    display: none;
}
.TroisBoutons{
    justify-content:center;
}
.fin{
    justify-content:space-around;
    padding-bottom:5%;
}

.ecran{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center ;

}

.image{
    background-image: url("../image/champagne.jpg");
    height: 100vh;


}
.image-carte{
    display: flex;
    width: 100vw;
}

.image-carte>div{
    flex :1;
}

#top{
    height:auto;
    width: 100vw;
    background-color: #cec19f;
}

.titrePrincipal{
    position: absolute ;
    color:#dee2e6;
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}
.titrePrincipal>h1{
    padding-top: 16rem;
    font-size: 6rem;
}
.titrePrincipal>p{
    margin-top: 0;
}

.champsInscription{
    color:#a4b998;
}

.consigneParagraphe{
    height: auto;
    width: 100vw;
}


.blocConsigne{
    min-height: calc(100vh - 25% - 2.5rem);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.consigneClaire, .consigneFonce{
    flex:1;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

.tel-titre{
    height: auto;
    margin-top: 0%;

}
.tel-titre>h1{
    padding-top: 8%;
    padding-bottom: 5%;
    margin:auto;
}

.tableInscris{
    border-radius: 0.2rem;
    margin: 5% 20% 0% 20%
}

.paragraphe{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.centrageInscription{
    display: block;
}

.justifier{
    text-align:center;
}
.container-2btn{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.enfant
{
 display: none;
}

div.parent:hover .enfant{
	display:block;
}

.droite{
    float:left;
}
.gauche{
    float:right;
}

.deroulant{
    display: none;
}

.index-cote-carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}
.index-cote-carte>ul, .index-cote-carte>h2, .index-cote-carte>p{
    padding-left: 10%;
    padding-right: 10%;
}

.zoom{
    animation : 3s ease-in 0s infinite alternate zoom;
}

.main_groupe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.main_groupe>div{
    width: 100%;
    text-align: center;
}


.fond_chevalier{
    background-image:url("../image/drakar.png");
}
.fond_bouclier{
    background-image:url("../image/casque.png");
}
.fond_lune{
    background-image:url("../image/viking.png");
}
.introduction{
    /* background-image:url("../image/fond_intro.jpg"); */
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
                  url("../image/fond_intro.jpg");
}

.orgaParent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.orgaParent>img{
    width: 30vw;
}
footer{
    margin-top: 5%;
    padding-top : 2%;
    padding-bottom : 2%;
    font-size : 1 rem;
    margin: 0;
   
}
footer a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #2e2e2e;
    margin-bottom: 2%;
}

footer a:hover{
    font-weight: bolder;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer>div{
    flex-direction: row;
    justify-content: space-around;
}

footer p{
    margin: 0;
    margin-inline-start: 0.5rem;
}

select{
    background-color: #a4b998;
    padding: 0.5rem;
    border-radius: 10px;
    width:50%;
}

/* ----------------lost----------------------------- */

.presentation{
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.651)50%, rgba(0, 0, 0, 0)), url("../image/ad+guss.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: #ffffff;
}
.BtnLost{
    margin: 5%;
}
.presentationLost{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.presentationLost>h1{
    padding: 0;
}
.presentationLost>.tiret{
    margin: 0;
}
.motLost{
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.tiret{
    margin: 0 30% 0 5%;
    height: 5px;
    background-color:#80ff00;
    width: 100px;
}
footer svg{
    width: 3vw;
    height: 200%;
}
@media screen and (max-width: 1000px) {

    .tableInscris{
        margin: 2% 0% 0% 0%
    }

    p{
        font-size: 46px;
    }

    ol{
        margin-left: 12%;
        margin-right: 8%;
    }

    .image-carte{
        display: flex;
        width: 100vw;
        flex-direction: column;
   
        
    }

    .suvole .deroulant:hover{
        display: block;
        height: 100vh;

    }
    .caseHeader{
        border-top: solid #2e2e2e 1px;
        padding-bottom: 0.5em;
    }
    .caseHeader>a{
        color: #2e2e2e;
    }

    .survole{
        transform: rotate(0deg);
        margin-top: auto;
        margin-bottom: auto;

    }

    .telephone{
        display: block;
    }
    nav{
        width: 100%;
    }
    .bandeau-tel{
        margin: 0% 10% 0% 10%;

    }
    .bandeau-tel>p{
        font-size: 60px;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    .pointsHeader{ /*pour les 3 point du header*/
        margin-top: 30px;
        margin-bottom: 30px;

    }
    .pointsHeader:hover{
        transform: rotate(90deg);
    }

    .centrageInscription{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blocConsigne{
        min-height: 100vh;
        display:block;

    }

    .consigneFonce{
        background-color:#2e2e2e; ;
        color:#a4b998 ;
        min-height: 100vh;
        padding: 0 8% 0 8%;
    }
    .consigneClaire{
        background-color: #a4b998;
        color:#2e2e2e;
        min-height: 100vh;
        padding: 0 8% 0 8%;
    }
    
    .consigneFonce > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .consigneClaire > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .tel-titre{
        height: 100vh;
        width: 100vw;

        color: #a4b998;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .tel-c-fonce{
        background-color: #a4b998;
        color:#2e2e2e;
    }
    
    .tel-c-clair{
        background-color: #2e2e2e;
        color: #a4b998;
    }

    .introduction{
        width: 100vw;
    }



    .image{
        background-image: url("../image/champagne_fin.jpg");
        height:100vh;
        width: auto;
        background-size: cover;

    }


    #top{
        height:100vh;
        width: 100vw;
        background-color: #dee2e6;
        overflow: hidden;
    }
    
    .titrePrincipal{
        position: absolute ;
        
        height: 100%;
        width: 100vw;
    
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .titrePrincipal>h1{
        margin: auto;
        margin-left: 10%;
        margin-right:10%;
        margin-bottom: 0%;
        margin-top: 60px;
        font-size: 10vw;


    }

    .btn, .btn-index{
        height:4rem;
        font-size: 3rem;
     
    }
    #btn-snap{
        padding: 0.75rem 1rem 0.75rem 1rem;
    }
    .table{
        font-size: 4rem;
    }

    .childTwo{
        display: none;
    }
    .compteur{
        margin:auto;
        min-height: 100vh;
        min-width: 100vw;
    }

    form{
        padding: 2%;
    }
    label{
        font-size: 2rem;
    }

    .submit{
        font-size: 2rem;
        height:auto;
    }
    .checkbox{
        width:2rem;
        height:2rem;
    }
    .tel{
        display: contents;   
        font-size: 4rem;
        display: flex;
        align-items: center;
        background-color: #BF8C00; 
        padding-left: 2%;
        padding-right: 4%;
    }
    h2{
        font-size: 10vw;
        font-weight: bold;
        padding-top: 4rem;
    }
    p{
        font-size: 5vw;
    }
    .champ{
        height: 3rem;
    }

    .ordinateur{
        display: none;
        
    }

    .btn-container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .btn-seul{
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

    }
    .fin{
        margin-top: 0%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        display: none;
    }
    footer a{
        display: block;
    }
    footer h3{
        font-size: 5vw;
    }
    footer .container-logo{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer>div{
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }
    footer>div>div{
        padding-top: 10%;
    }

    footer svg{
        width: 10vw;
        height: 200%;
    }

    td{
        font-size: 2vw;
    }
    .tel>p{
        font-size: 2rem;
    }
    .justifier{
        text-align:justify;
        margin: 5%;
    }
    h1{
        margin: 0% 20% 0% 20%;
        font-size: 4rem;
    }
    .titre_consigne{
        text-decoration: underline;
        padding-bottom: 4%;
        font-weight: bold ;
    }
    .orgaParent{
        display: flex;
        flex-direction: column;
    }

    .orgaParent>img {
        width: 100vw;
    }


}

@media screen and (min-width: 1300px) {
    .image{
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
}
